<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular JS Controllers</title>
  <link href="style.css" rel="stylesheet" type="text/css">
  

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.6/angular.min.js"></script>
  <script src="script.js"></script>
  

  
</head>
<body ng-app="app">
  <div ng-controller="MainController">
    <h1>MainController</h1>
    
    <div ng-controller="ParentController">
      <h1>ParentController</h1>
      <input ng-model="parentData.message" />
      <button ng-click="broadcastEvent()">broadcast event from ParentController</button>
      
      <br><br>
      
      <div ng-controller="ChildController">
      <h1>ChildController</h1>
        <input ng-model="childData.message" />
        <button ng-click="emitEvent()">emit event from ChildController</button>
      </div>
    </div>
    
    <br>
    
    <h1>LOGS:</h1>
    <pre><code>{{ mainData.logs }}</code></pre>
    
  </div>
  
</body>
</html>